<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1><b><u>UF Directory App</u></b></h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 
                Implement a way to filter through listings using the search bar 
              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="q">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th><u>Code</u></th>
                <th><u>Building Name</u></th>
                <th><u>Remove Listing</u></th>
              </tr>	   
			 
              <!-- 
                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings
                -->
			   <tr ng-repeat="listing in listings | filter:q as results">
			   <td ng-click=showDetails($index)> {{listing.code}} </td>
			   <td ng-click=showDetails($index)> {{listing.name}} </td>
			   <td ng-click=deleteListing($index)> <button type="button">Delete</button> </td>
               	</tr>
               
            </table>
				
          </div>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
			
				
        </div>
        <div class="col-md-6" >
          <div class="jumbotron">
            <h2><b><u>Detailed Information</u></b></h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature
             -->
			<p style="white-space: pre;">{{detailedInfo}}</p>
          </div>
        </div>
		
		<br><br>
		<div class="col-md-6">
		 <div class = "form1">
			<b><u>Add a new listing to the directory:</u></b>
			<form novalidate>
            <b>Code:</b><br>
            <input type="text" name="code" ng-model="newItem.code" >
            <br>
            <b>Building name:</b><br>
            <input type="text" name="name" ng-model="newItem.name"><br>
			<b>Latitude (enter a number):</b><br>
            <input type="text" name="latitude" ng-model="newItem.coordinates.latitude" >
            <br>
            <b>Longitude (enter a number):</b><br>
            <input type="text" name="longitude"  ng-model="newItem.coordinates.longitude"><br>
            <b>Address:</b><br>
            <input type="text" name="address" ng-model="newItem.address">
			
            <br><br>
            <input type="submit" value="Submit" ng-click=addListing()>
             </form> 
            </div></div>
		
		

			
			
      </div>
	  
	  
	  
    </div>
	
	
			
			
			
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>